{% extends 'base.html'%} {% block content%}

<h1>List of Events</h1>
 <section class="events-list">

    {% for event in events %}
    <section class="single-event">
            <h3>
            {{ event.name}}
        </h3>
        <p>date: {{ event.date}}
        {% if event.recurring %}
                <span class="repeate-symbol"> &#10227;</span> </p>
        {% endif %}
        <p>location: {{ event.location}}</p>
        <p> {{ event.description}}</p>
        <p> {{ event.num_guest}} guest</p> <br>
    </section>
    {% endfor %}

 </section>
<div>
    <h2>Add new event</h2>
 <form action="/events" method="post">
    <label for="name">Event Name</label>
    <input type="text" name="name" id="name">
    <label for="date">Event Date</label>
    <input type="date" name="date" id="date">
    <label for="location">Event Location</label>
    <input type="text" name="location" id="location">
    <label for="description">Event Description</label>
    <input type="text" name="description" id="description">
    <label for="guest">Event Guest</label>
    <input type="number" step="1" name="guest" id="guest"><br>
    <input type="checkbox" name="recurring" id="recurring">
    <label for="recurring">Recurrring event?</label>
    <input type="submit" value="Create Event" name="" id="create-event">

 </form>

</div>
{% endblock%}